@page
@model TwoDogsCreativeWebSite.Pages.AboutModel
@{
    ViewData["Title"] = "About";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Two Dogs Creative Services, LLC</h1>
<p>Two Dogs is a Limited Liability Company, registered in the State of Washington.</p>

