@page
@model TwoDogsCreativeWebSite.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Contact</h1>
<h4>Dr. Ruby Sandra Benavente y Davis</h4>
<h5><em>But just call me 'Sid'</em></h5>

<address>
    2033 2nd Avenue<br />
    Suite 1801<br />
    Seattle, WA 98121<br />
    <abbr title="Phone">P:</abbr>
    206.617.7419
</address>

<address>
    <strong>Email:</strong> <a href="mailto:benavente@outlook.com">benavente@outlook.com</a><br />
</address>
