@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Two Dogs</h1>
    <h1>Creative Services</h1>
    <h2>______________</h2>
    <h4><em>A Limited</em></h4>
    <h4><em>Liability Company</em></h4>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Welcome!</h2>
        <p>
            Two Dogs provides services in:
            <ul>
                <li>Mixed Reality App Development</li>
                <li>Video Editing and Production</li>
                <li>Program and Project Management</li>
                <li>Business Strategy and Assessment</li>
                <li>Research and Analytics</li>
                <li>Bot Development</li>
                <li><a href="https://www.linkedin.com/in/sidbenavente/">Additional skills and experience</a></li>
            </ul>
        </p>
    </div>
    <div class="col-md">
        <h2>Recent Projects</h2>
        <ul class="list-group">
            <li class="list-group-item">
                <p><em>Software App Design, Augmented Reality Development</em></p>
                <p><b>Protein Explorer</b> - A Microsoft HoloLens app to explore and manipulate human protein models</p>
                <p>
                    <a class="btn btn-default"
                       href="https://eur02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.microsoft.com%2Fstore%2Fproductid%2F9N12VVR0SXZK&data=02%7C01%7C%7Cb945ddd4171f4769cac008d6981db574%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C636863650692407559&sdata=ot5zfITAO2aNr45Jaoo%2BzlZkO3oZKilAUeAR1ilvYsk%3D&reserved=0">
                        View in the Microsoft Store &raquo;
                    </a>
                </p>
            </li>
            <li class="list-group-item">
                <p><em>Augmented Reality Development, Video Editing</em></p>
                <p><b>Repurposing Film Assets for Augmented Reality Environments</b> - A proof of concept video documenting 2D to 3D film model extraction and implementation in the Microsoft HoloLens</p>
                <p>
                    <a class="btn btn-default"
                       href="https://youtu.be/uMEentotyI0">
                        View on YouTube &raquo;
                    </a>
                </p>
            </li>
            <li class="list-group-item">
                <p><em>Video Editing</em></p>
                <p><b>Community Building Through Public Art</b> - A film created in support of a not-for-profit effort for the Washington Technology Industry Association</p>
                <p>
                    <a class="btn btn-default"
                       href="https://www.youtube.com/watch?v=CLl8ITf--a4&feature=youtu.be">
                        View on WTIA's YouTube Page &raquo;
                    </a>
                </p>
            </li>
            <li class="list-group-item">
                <p><em>Business Analysis and Development</em></p>
                <p><b>Sledge Deconstruction Case Study</b> - A case study of a pilot program to compare deconstruction with demolition in an effort to preserve resources, reduce waste, and decrease carbon emissions (in progress, grant submitted to Seattle Public Utilities)</p>
                <p>
                    <a class="btn btn-default"
                       href="https://gist.github.com/sidbenavente/a0e7b644ff44eac46605ff67dd505fd2">
                        View proposed deliverables in Gist &raquo;
                    </a>
                </p>
            </li>
            <li class="list-group-item">
                <p><em>Web Development</em></p>
                <p><b>Inventory Management</b> - A web portal for a local development company to manage their salvaged lumber program - built with Razer/.Net Core (in progress)</p>
                <p>
                    <a class="btn btn-default"
                       href="https://github.com/sidbenavente/sledge">
                        View in GitHub &raquo;
                    </a>
                </p>
            </li>
        </ul>

    </div>
</div>
