@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We do not use cookies; we do not gather any data about you or your activities while you are on our site.</p>
